html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #e0e0e0;
}

section {
  text-align: center;
}
